include AUTHORS
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE.txt
include README.rst
recursive-include appsembler_credentials_extensions *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
